.message-component {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  overflow: auto;
  background-color: #A60A0A;
  max-height: 150px;
  width: 250px;
  border-radius: 25px;
  color: white;
  left: 20px;
  bottom: 20px;
  margin-top: 60px;
  align-items: center;

}

.message-component::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
