@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url("./assets/backgroundImg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
