<div class="navbar flex flex-row">
    <div class="basis-1/4 brand-name">
      <span class="title">
        {{title}}
      </span>
    </div>
    <div class="basis-1/4"></div>
    <div class="basis-1/2 btn-section">
      <a routerLink="/heroes">
        <dx-button>Heros</dx-button>
      </a> &nbsp;&nbsp;&nbsp;
      <a routerLink="/dashboard">
        <dx-button>Dashboard</dx-button>
      </a> &nbsp;&nbsp;&nbsp;
      <a routerLink="/search">
        <dx-button #searchBtn>Search</dx-button>
      </a>
    </div>
 &nbsp;&nbsp;&nbsp;
</div>



