<div class="global-search-comp" #globalSearchComp>
  <div class="search-component" >
    <div class="flex field-container voice-field">
      <div style="color: white" class="dx-field-label">Choose a language</div>
      <div class="flex dx-field">
        <div class="dx-field-value" >
          <dx-select-box #dropDown
                         [dataSource]="languageList"
                         (onValueChanged)="getLgSelected($event)"
          >
          </dx-select-box>
        </div>
        <button
          [class.btn-mic]="!startRecording"
          [class.btn-mic-anim]="startRecording"
          (click)="clickMic()">
          <fa-icon [icon]='mic'>

          </fa-icon>
        </button>
      </div>

    </div>
    <div id="search-component" #searchPanel>
      <div #searchInput class="search-input">
        <label #searchLabel for="search-box" style="color: white; font-size: 25px;">Hero Search</label>
        <input #searchBox id="search-box" [(ngModel)]="service.text" (ngModelChange)="search(searchBox.value)"/>
      </div>
      <ul class="search-result">
        <li *ngFor="let hero of heroes$ | async">
          <a routerLink="/detail/{{hero.id}}">
            {{hero.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


